@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-slow {
    animation: spin 2s linear infinite;
  }
  .card-dark {
    @apply bg-gray-800/80 text-gray-100 shadow-lg;
  }
  .card-light {
    @apply bg-white text-gray-900 shadow;
  }
  .text-secondary-dark {
    @apply text-gray-400;
  }
  .text-accent-dark {
    @apply text-blue-400;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply transition-colors duration-500;
}

html.dark {
  background-color: #101624;
}
